.projects{
    background-color: rgb(236, 179, 144);
}

.projects img{
    width: 639px;
    height: 397px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.main{
    padding: 25px;
}

.buttons{
    width: 350px;
    text-align: justify;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

