.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    justify-content: flex-end;
    background-color: aqua;
}
    
.navbarLinks li{
    padding-left: 10px;
    padding-right: 10px;
}
