.contact{
    background-color: rgb(212, 226, 212);
}

.footer{
    padding: 25px;
}

h4{
 margin-top: 10px;
}

.logo{
    width: auto;
    height: 50px; 
    padding: 0 8px;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}