.contact{
    background-color: #ECB390;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: auto;
    height: 30px; 
    padding: 0 8px;
}

.footer{
    padding: 25px;
}