@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

h1{
  padding: 15px;
  color:rgb(223, 121, 98);
}

h3{
  text-decoration-line: underline;
}

.iconify { 
  width: 60px;
  height: 60px;
}

img {
  border-radius: 5px;
}

ul {
  list-style: none;
  display: flex;
}